@font-face{
    font-family:'italiana';
    src: url('../fonts/Italiana/Italiana-Regular.ttf');
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    display: flex;
    margin: 0;
    flex-direction: column;
}

/* INDEX / ABOUT PAGE */

.bodyCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* NAVIAGATION */

nav{
    width: 100%;
}

nav ul{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    padding: 0;
    margin: 10px;
    list-style: none;
    width: 100%;
}

nav ul li{
    text-align: left;
    font-family: 'italiana', serif;
    font-size: 18pt;
    list-style-type: none;
    margin: 1px;
}

nav a:link{
    color: black;
}

nav a:hover{
    color: black;
    cursor: crosshair;
}

nav a:visited{
    color: black;
}

/* HEADER */

.headCont img{
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: -75px;
}

.headCont{
    display: flex;
    background-color: white;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    align-items: center;
}

/* ABOUT ME CONTAINER */

.aboutCont{
    display: flex;
    width: 1500px;
    background-color: black;
    height: auto;
    margin: 0 auto;
    align-self: center;
    margin-top: 25px;
    margin-bottom: 25px; 
    flex-direction: column;
}

.aboutContent{
    flex-direction: row;
    text-align: center;
}

.aboutCont img{
    width: 300px;
    height: 300px;
    align-self: center;
}

.aboutCont h4{
    font-family: 'italiana', serif;
    color: white;
    font-size: 36pt;
    margin: 10px;
}

.aboutCont p{
    color: white;
    margin: 15px;
    font-family: 'italiana', serif;
    font-size: 18pt;
    margin: 50px;

}

/* PROJECT CONTAINER */

.projectCont{
    display: flex;
    width: 1500px;
    flex-direction: column;
    background-color: white;
    border: 5px solid black;
    height: auto;
    margin: 0 auto;
    margin-top: 25px;
    justify-content: flex-start;
}

.projectContent{
    flex-direction: row;
    text-align: center;
}

.projectCont img{
    width: 300px;
    height: 300px;
    align-self: center;
    margin-top: 60px;
    margin: 20px;
}

.projectCont h4{
    font-family: 'italiana', serif;
    color: black;
    font-size: 36pt;
    margin: 10px;
}

.projectCont p{
    color: black;
    margin: 15px;
    font-family: 'italiana', serif;
    font-size: 18pt;
    margin: 50px; 
    margin-left: 350px;
}

.projectCont a{
    align-self: center;
    justify-self: center;
    margin-top: auto;
    font-size: 16pt;
    font-family: 'italiana', serif;
}

#pfnl{
    float: left;
}

#quizLink{
    float: right;
    margin: 10px;
}

.projectCont a:link{
    color: black;
    font-size: 18pt;
    font-family: 'italiana', serif;
    text-decoration: none;
}

.projectCont a:hover{
    color: black;
    font-size: 18pt;
    font-family: 'italiana', serif;
    text-decoration: none;
    cursor:crosshair;
}

.projectCont a:visited{
    color: black;
    font-size: 18pt;
    font-family: 'italiana', serif;
    text-decoration: none;
}

aside a:link{
    color: black;
    font-size: 18pt;
    font-family: 'italiana', serif;
    text-decoration: none;
}

aside a:hover{
    color: black;
    font-size: 18pt;
    font-family: 'italiana', serif;
    text-decoration: none;
    cursor: crosshair;
}

aside a:visited{
    color: black;
    font-size: 18pt;
    font-family: 'italiana', serif;
    text-decoration: none;
}

/* FOOTER */

.footerCont{
    display: flex;
    background-color: black;
    height: 100px;
    margin: 0 auto;
    padding: 0px;
    align-items: center;
}

.footerCont img{
    width: 100px;
    height: 100px;
}

.footerCont p{
    color: white;
    margin: 0;
}

/* CONTACT PAGE */

.textCont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.textCont p{
    color:white;
    font-family: 'italiana', serif;
    font-size: 18pt;
    padding: 20px;
}

.contactCont{
    width: 1500px;
    height: 300px; 
    background-color: white;
    border: 5px solid black;
    margin: 0 auto;
    margin-bottom: 50px;
}

.contactCont img{
    float: left;
    width: 150px;
    height: 150px;
    margin: 170px;
    margin-top: 80px;
}

.emailCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1500px;
    background-color: white;
    border: 5px solid black;
    margin: 0 auto;
    padding-bottom: 15px;
}

.emailCont img{
    width: 200px;
    height: auto;
}

.emailCont h4{
    font-family: 'italiana', serif;
    font-size: 18pt;
    color: black;
}

.emailCont p{
    font-family: 'italiana' serif;
    color: black;
    font-size: 15pt;
    margin: 10px;
}

